body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #111;
    color: white;
}

.home-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3%;
    width: 100%;
    margin-bottom: -5%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background: #d8d5d528;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
}

.sPart {
    grid-area: 2 / 1 / 3 / 3;
}

h1 {
    font-size: 80px;
}

.day-Event {
    background: #f9f6f655;
    border: 1px solid #fff;
    border-radius: 15px;
    text-align: center;
    transition: ease 500ms;
    cursor: pointer;
}
.day-Event:hover {
    background: #f9f6f6a8;
}

.day h4 {
    margin: 5px 0;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #505050;
    color: white;
    cursor: pointer;
}

.location, .temperature-details, .additional-infos {
    margin-top: 20px;
}

.max-temp, .min-temp, .feels-like, .humidity, .wind {
    margin: 5px 0;
}

.left-section, .right-section {
    padding: 20px;
}

.left-section {
    background: #f3f1f19c;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ffffff7b;
    margin: 7% 7% 0% 7%;
    grid-area: 1 / 1 / 2 / 2;
}

.right-section {
    background: #f3f1f19c;
    border-radius: 10px;
    border: 1px solid #ffffff7b;
    margin: 7% 7% 0% 0%;
    grid-area: 1 / 2 / 2 / 3;
}

.list {
    display: flex;
    justify-content: space-around;
    padding: 3% 10% 6% 10%;
}

.label {
    font-weight: bold;
}

.value {
    font-size: 16px;
}
